# Ferramentas necessárias

## 1 - Importação / Instalação das Bibliotecas

In [ ]:
pip install apache-beam[interactive] # Necessário REINCIAR O AMBIENTE DE EXECUÇÃO APOS INSTALAÇÃO

In [ ]:
pip install apache-beam[gcp] # Necessário REINCIAR O AMBIENTE DE EXECUÇÃO APOS INSTALAÇÃO

In [ ]:
!pip install pymongo[srv] # Necessario para se conectar com o mongodb
!pip install gcsfs # Necessario para se conectar com GCP
!pip install pandera # Necessario para validação de dados do pandas
!pip install psycopg2-binary==2.8.6 # Necessario para se conectar com postGRES
!pip install pyspark # Necessario para normalização e tratamento do pyspark
!pip install pyarrow # Complemento pyspark
!pip install sqlalchemy # Complemento pyspark
!pip install numpy # Utilizar array
!pip install pymysql # Necessário para fazer a conexão / envio com o MySQL
!pip install mysql-connector-python # Necessário para fazer a conexão com o MySQL
!pip install pymongo[srv] # Necessário para se conectar com o MongoDB

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
import json
import datetime
from google.cloud import storage
import pymongo
from pymongo import MongoClient
import psycopg2
import pandera as pa
import pandas as pd
import numpy as np
import csv
import os
from sqlalchemy import create_engine
import pymysql
import mysql.connector

from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql.functions import regexp_replace

from google.cloud import bigquery

In [ ]:
import apache_beam as beam
from apache_beam.options.pipeline_options import PipelineOptions
from pandas.core.arrays import string_

## 2 - Conexão com o GCP

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA
serviceAccount = '/content/drive/MyDrive/Datasets-Soulcode/brunoy-5fe7c8e739a5.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [5]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
client = storage.Client()

#CRIAÇÃO DE VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('brunotestesoulcode')

# EXTRACT (Extração)

## 3 - Obtendo os Datasets

### 3.1 - Dataset concedido pelos Professores: "Acidentes_USA" (csv)

In [ ]:
# Fonte: Dataset disponibilizado pelos professores para o Projeto Final
df_acidentes_usa = pd.read_csv('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/Equipe3.csv')

tcmalloc: large alloc 1154736128 bytes == 0x4afc2000 @  0x7f70866451e7 0x4a3940 0x5b438c 0x5b46f7 0x59afff 0x515655 0x593dd7 0x511e2c 0x549576 0x593fce 0x511e2c 0x549576 0x593fce 0x548ae9 0x5127f1 0x549576 0x593fce 0x548ae9 0x5127f1 0x593dd7 0x511e2c 0x549e0e 0x4bca8a 0x532b86 0x53786a 0x595ef6 0x5134a6 0x549576 0x593fce 0x511e2c 0x549576

### 3.2 - Dataset encontrado sobre Charlotte: "Acidentes_Charlotte" (Json)

In [ ]:
# Fonte: https://www.kaggle.com/datasets/rapiddev/charlotte-nc-traffic-accidents-20182019
df_acidentes_charlotte_json = pd.read_json('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/accidents.json', orient='records')

In [ ]:
df_acidentes_charlotte_json.shape

(66126, 12)

## 4 - Convertendo os DataSets para Parquet (melhor desempenho)

### 4.1 - Convertendo Acidentes_USA para Parquet

In [ ]:
#df_acidentes_usa.to_parquet('gs://brunotestesoulcode/ProjetoFinal/Original/acidentes_usa_prof.parquet')

### 4.2 - Convertendo Acidentes_Charlotte para Parquet

In [ ]:
#df_acidentes_charlotte_json.to_parquet('gs://brunotestesoulcode/ProjetoFinal/Original/acidentes_charlotte.parquet')

In [ ]:
df_acidentes_charlotte_json.to_csv('gs://brunotestesoulcode/ProjetoFinal/Original/acidentes_charlotte_csv.csv', index=False)

## 5 - Armazenando os DataSets originais

### 5.1 - Armazenando em Banco SQL (MySQL)

#### 5.1.1 - Armazenando DataSet Acidentes_USA

##### 5.1.1.1 - Conectando com MySQL na nuvem

In [ ]:
con = mysql.connector.connect(host='34.151.248.162',user='root',password='123456',db='projfinal')
cur = con.cursor()

engine = create_engine("mysql+pymysql://root:123456@34.151.248.162/projfinal")

##### 5.1.1.2 - Convertendo DataFrame para linguagem SQL e salvando em MySQL

In [ ]:
df_usa_parquet = pd.read_parquet('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/acidentes_usa_prof.parquet')

In [ ]:
# Conversao e envio para MySQL
#df_usa_sql = df_usa_parquet.to_sql('acidentes_usa', con = engine, if_exists='replace', index = False)

##### 5.1.1.3 - Verificando a quantidade de linhas enviadas para MySQL

In [ ]:
cur.execute('SELECT count(*) FROM acidentesusa')
cur.fetchall()

[(2845343,)]

#### 5.1.2 - Armazenando DataSet Acidentes_Charlotte

##### 5.1.2.1 - Convertendo DataFrame Acidentes_Charlotte para linguagem SQL  salvando em MySQL

In [ ]:
# lendo arquivo parquet
#df_acidentes_charlotte_parquet = pd.read_parquet('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/acidentes_charlotte.parquet')

# salvando arquivo em csv para enviar
#df_acidentes_charlotte_parquet.to_csv('gs://brunotestesoulcode/ProjetoFinal/Original/acidentes_charlotte_csv.csv')

# lendo arquivo csv
df_acidentes_charlotte_csv = pd.read_csv('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/acidentes_charlotte_csv.csv')

In [ ]:
# Conversao e envio para MySQL
df_charlotte_sql = df_acidentes_charlotte_csv.to_sql('acidentes_charlotte', con = engine, if_exists='replace', index = False)

##### 5.1.2.3 - Verificando a quantidade de linhas enviadas para MySQL

In [ ]:
cur.execute('SELECT count(*) FROM acidentes_charlotte')
cur.fetchall()

[(66126,)]

## 6 - Captura e ingestão de dados através de PIPELINE

### 6.1 - Criando o modelo de PIPELINE (Selecionar as colunas que condizem com o objetivo do projeto)

In [ ]:
pipeline_options = {
    'project': 'brunoy',
    'runner': 'DataflowRunner',
    'region': 'southamerica-east1', 
    'staging_location':'gs://brunotestesoulcode/ProjetoFinal/Original/Pipeline/staging', 
    'temp_location':'gs://brunotestesoulcode/ProjetoFinal/Original/Pipeline/staging', 
    'template_location':'gs://brunotestesoulcode/ProjetoFinal/Original/Pipeline/models/Acidentes_USA'
}

pipeline_options = PipelineOptions.from_dictionary(pipeline_options)

p1 = beam.Pipeline(options=pipeline_options)


acidentes_usa = (
    p1
    |'Leitura do dataset'>> beam.io.ReadFromText('gs://brunotestesoulcode/ProjetoFinal/Original/Equipe3.csv', skip_header_lines=1)
    |'Indicando o separador do arquivo'>> beam.Map(lambda record: record.split(','))
    |'Selecionando Colunas do projeto'>> beam.Map(lambda record: (record[0], record[1], record[2], record[4], record[5], record[9], record[11], record[14], record[15], record[31], record[37], record[38], record[39], record[40], record[41], record[42]))
    |'Salvar resultado'>> beam.io.WriteToText('gs://brunotestesoulcode/ProjetoFinal/Original/Pipeline/Acidentes_USA', file_name_suffix='.csv')
)
p1.run()

WARNING:root:Make sure that locally built Python SDK docker image has Python 3.7 interpreter.

# TRANSFORM (Transformação)

## 7 - Leitura dos DataSets

### 7.1 - Leitura do Dataset Acidente_USA

In [4]:
df_usa = pd.read_parquet('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/acidentes_usa_prof.parquet')

### 7.2 - Leitura do Dataset Acidente_Charlotte

In [9]:
df_charlotte = pd.read_parquet('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Original/acidentes_charlotte.parquet')

## 8 - Removendo colunas que não condizem com o objetivo do projeto

### 8.1 - Removendo colunas do Dataset Acidente_USA

Algumas colunas não são válidas para os objetivos propostos pelo projeto, por isso, optou-se em remove-las.

In [7]:
# Removido a coluna 'End_Lat' por não ser uma coluna válida para os objetivos propostos do projeto
df_usa.drop(['End_Lat'], axis=1, inplace=True)

In [8]:
# Removido a coluna 'End_Lng' por não ser uma coluna válida para os objetivos propostos do projeto
df_usa.drop(['End_Lng'], axis=1, inplace=True)

In [9]:
# Removido a coluna 'Distance(mi)' por se tratar de uma coluna que mostra o comprimento que a rodovia foi afetada com o acidente (Não é válida para os objetivos propostos do projeto)
df_usa.drop(['Distance(mi)'], axis=1, inplace=True)

In [10]:
# Removido a coluna 'Number' por ter 1.743.911 dados nulos(vazios)
df_usa.drop(['Number'], axis=1, inplace=True)

In [11]:
# Removido a coluna 'Zipcode' por não contribuir com o objetivo estipulado pelo projeto
df_usa.drop(['Zipcode'], axis=1, inplace=True)

In [12]:
#Removido a coluna 'Country' por ser um valor constante (us)
df_usa.drop(['Country'], axis=1, inplace=True)

In [13]:
# Removido a coluna 'Wind_Chill(F)' por ser uma coluna que não contribui com o objetivo do projeto (mostra a queda de temperatura do ar percebida pelo corpo)
df_usa.drop(['Wind_Chill(F)'], axis=1, inplace=True)

In [14]:
# Removido a coluna 'Timezone' por ser uma coluna que não contribui com o objetivo do projeto
df_usa.drop(['Timezone'], axis=1, inplace=True)

In [15]:
# Removido a coluna 'Airport_Code' por ser uma coluna que não contribui com o objetivo do projeto (mostra o aeroporto mais próximo do acidente)
df_usa.drop(['Airport_Code'], axis=1, inplace=True)

In [16]:
# Removido a coluna 'Amenity' por ser uma coluna que não contribui com o objetivo do projeto
df_usa.drop(['Amenity'], axis=1, inplace=True)

In [17]:
# df_inteiro.drop(['Bump'], axis=1, inplace=True)
df_usa.drop(['Crossing'], axis=1, inplace=True)

In [18]:
df_usa.drop(['Give_Way'], axis=1, inplace=True)

In [19]:
df_usa.drop(['Junction'], axis=1, inplace=True)

In [20]:
df_usa.drop(['No_Exit'], axis=1, inplace=True)

In [21]:
df_usa.drop(['Railway'], axis=1, inplace=True)

In [22]:
df_usa.drop(['Station'], axis=1, inplace=True)

In [23]:
df_usa.drop(['Civil_Twilight'], axis=1, inplace=True)

In [24]:
# Removido a coluna 'Nautical_Twilight' por ser uma coluna que não contribui com o objetivo do projeto
df_usa.drop(['Nautical_Twilight'], axis=1, inplace=True)

In [25]:
# Removido a coluna 'Astronomical_Twilight' por ser uma coluna que não contribui com o objetivo do projeto
df_usa.drop(['Astronomical_Twilight'], axis=1, inplace=True)

In [26]:
df_usa.drop(['Side'], axis=1, inplace=True)

In [27]:
df_usa.drop(['Weather_Timestamp'], axis=1, inplace=True)

In [28]:
df_usa.drop(['Humidity(%)'], axis=1, inplace=True)

In [29]:
df_usa.drop(['Pressure(in)'], axis=1, inplace=True)

In [30]:
df_usa.drop(['Wind_Direction'], axis=1, inplace=True)

In [31]:
df_usa.drop(['Wind_Speed(mph)'], axis=1, inplace=True)

In [32]:
df_usa.drop(['Precipitation(in)'], axis=1, inplace=True)

In [33]:
df_usa.drop(['Sunrise_Sunset'], axis=1, inplace=True)

In [34]:
df_usa.drop(['Temperature(F)'], axis=1, inplace=True)

In [35]:
df_usa.drop(['Visibility(mi)'], axis=1, inplace=True)

In [36]:
df_usa.drop(['Weather_Condition'], axis=1, inplace=True)

In [37]:
df_usa.drop(['End_Time'], axis=1, inplace=True)

### 8.2 - Removendo colunas do Dataset Acidente_Charlotte

Removido a coluna '_id' por ser uma coluna que não contribui com o objetivo do projeto (Coluna se refe a algum id antigo de banco de dados noSQL, já existe uma coluna com o numero do evento, podendo substituir essa coluna _id)

In [ ]:
df_charlotte.drop(['_id'], axis=1, inplace=True)

Removido a coluna 'division' por ser uma coluna que não contribui com o objetivo do projeto

In [ ]:
df_charlotte.drop(['division'], axis=1, inplace=True)

Removido a coluna 'event_type' por ser uma coluna que não contribui com o objetivo do projeto

In [ ]:
df_charlotte.drop(['event_type'], axis=1, inplace=True)

Removido a coluna 'x_coord' por ser uma coluna que não contribui com o objetivo do projeto

In [ ]:
df_charlotte.drop(['x_coord'], axis=1, inplace=True)

Removido a coluna 'y_coord' por ser uma coluna que não contribui com o objetivo do projeto

In [ ]:
df_charlotte.drop(['y_coord'], axis=1, inplace=True)

Removido a coluna 'weatherInfo' por ser uma coluna que não contribui com o objetivo do projeto

In [ ]:
df_charlotte.drop(['weatherInfo'], axis=1, inplace=True)

## 9 - Tradução dos DataSets para PT-BR

### 9.1 - Traduzindo Acidentes_USA

In [38]:
df_usa.rename(columns={'Severity': 'Severidade', 
                    'Start_Time': 'Data',
                   'Start_Lat':'Latitude',
                   'Start_Lng':'Longitude',
                   'Description':'Descricao',
                   'Street':'Rua',
                   'City':'Cidade',
                   'County':'Condado',
                   'State':'Estado',
                   'Bump':'Aumento_Velocidade',
                   'Roundabout':'Desvio',
                   'Station':'Estacao_metro_trem',
                   'Stop':'Parada',
                   'Traffic_Calming':'acalmamento_trafego',
                   'Traffic_Signal':'sinal_trafego',
                   'Turning_Loop':'Rotatoria'},inplace=True)

### 9.2 - Traduzindo Acidentes_Charlotte

In [ ]:
df_charlotte.rename(columns={'event_no': 'ID',
                    'datetime_add': 'Data', 
                   'address':'Rua',
                   'event_desc':'Descricao',
                   'latitude':'Latitude',
                   'longitude':'Longitude'},inplace=True)

In [ ]:
df_charlotte.replace(to_replace = 'ACCIDENT IN ROADWAY-PROPERTY DAMAGE', value = 'ACIDENTE COM DANOS MATERIAIS NA RODOVIÁRIA', inplace=True)
df_charlotte.replace(to_replace = 'ACCIDENT-PERSONAL INJURY', value = 'ACIDENTE COM LESÕES CORPORAIS', inplace=True)
df_charlotte.replace(to_replace = 'RUN-IN ROADWAY-PROPERTY DAMAGE', value = 'ATROPELAMENTO COM DANOS A RODOVIA', inplace=True)
df_charlotte.replace(to_replace = 'VEHICLE DISABLED IN ROADWAY', value = 'VEÍCULO QUEBRADO NA ESTRADA', inplace=True)
df_charlotte.replace(to_replace = 'CARELESS/RECKLESS DRIVING', value = 'CONDUÇÃO negligente/imprudente', inplace=True)
df_charlotte.replace(to_replace = 'ROAD BLOCKAGE', value = 'BLOQUEIO DE ESTRADA', inplace=True)
df_charlotte.replace(to_replace = 'HIT & RUN-PERSONAL INJURY', value = 'ATROPELAMENTO COM LESÕES CORPORAIS', inplace=True)
df_charlotte.replace(to_replace = 'ACCIDENT-FATALITY', value = 'ACIDENTE-FATALIDADE', inplace=True)
df_charlotte.replace(to_replace = 'HIT & RUN-FATALITY', value = 'ATROPELAMENTO COM FUGA', inplace=True)
df_charlotte.replace(to_replace = 'HIT & RUN-IN ROADWAY-PROPERTY DAMAGE', value = 'ACIDENTE E FUGA COM DANOS A RODOVIA', inplace=True)
df_charlotte.replace(to_replace = 'TRAFFIC CONTROL/MALFUNCTION', value = 'CONTROLE DE TRÁFEGO/MAU FUNCIONAMENTO', inplace=True)

## 10 - Operações com Pandas

### 10.1 - Tratamentos do Acidente_USA

#### 10.1.1 - Pré-Analise

In [39]:
# Procurando valores nulos
df_usa.isna().sum()

ID                       0
Severidade               0
Data                     0
Latitude                 0
Longitude                0
Descricao                0
Rua                      2
Cidade                 137
Condado                  0
Estado                   0
Aumento_Velocidade       0
Desvio                   0
Parada                   0
acalmamento_trafego      0
sinal_trafego            0
Rotatoria                0
dtype: int64

In [ ]:
# Analisando o tipo de valores contidos nas colunas
df_usa.dtypes

ID                      object
Severidade               int64
Data                    object
Latitude               float64
Longitude              float64
Descricao               object
Rua                     object
Cidade                  object
Condado                 object
Estado                  object
Aumento_Velocidade        bool
Desvio                    bool
Parada                    bool
acalmamento_trafego       bool
sinal_trafego             bool
Rotatoria                 bool
dtype: object

Procurando inconsistências

In [ ]:
# verificando se os IDs são valores únicos (2.845.342 IDs)
pd.value_counts(df_usa['ID']) #Tudo OK

In [ ]:
# verificando se existem apenas 4 tipos de severidade:
pd.unique(df_usa['Severidade'])

array([3, 2, 4, 1])

In [40]:
# transformando a coluna Data para DateType
df_usa['Data'] = pd.to_datetime(df_usa['Data'], format='%Y-%m-%d %H:%M:%S')

#### 10.1.2 - Corrigindo dados ausentes

In [41]:
# Foram localizados na pré-analise 2 colunas com dados ausentes, serão substituidos por "dado ausente" para receber um tratamento posterior
df_usa['Rua'] = df_usa['Rua'].replace(np.nan, 'dado ausente')
df_usa['Cidade'] = df_usa['Cidade'].replace(np.nan, 'dado ausente')

#### 10.1.3 - Normalizações da coluna 'Descricao'

In [ ]:
df_usa['Descricao'] = df_usa['Descricao'].str.replace('^', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('*', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('XXX', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('XXXXXX', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('XXXX', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('Rotation Request Comment', 'Solicitação de Rotação')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('XXXXXXXXXXXXX', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('[Shared]', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('------', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('~', '')
df_usa['Descricao'] = df_usa['Descricao'].str.replace('-=', '-')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

#### 10.1.4 - Dropando cidades fora dos EUAS

In [ ]:
df_usa.drop(df_usa[df_usa.Cidade == 'Havaí'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Seward'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Klondike'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Smithers'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Prince George'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sheridan Lake'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Warfield'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Summerland'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vancouver'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sumas'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vemon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vauxhall'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Coutts'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rumsey'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Thotsby'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Spiritwood'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Thompson'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'São João da terra Nova'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rogersville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint stephen'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Enfield'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Williamantic'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stoncham-Tewkesbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Terrebonne'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint-Leonard'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint-Andrews'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Woodstock'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Strafford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Kitchener'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rockwood'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vaughan'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Richmont Hill'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'St.Clair'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Smiths Creek'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Portmore'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Juan'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rincon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Frederiksted'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'California'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stanley'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rawson'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Santa Helena'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Castelo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Valentines'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Patricio'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Potosí'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tacna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Lorenzo Tecnochtitlán'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Miguel de Allende'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Cabo San Lucas'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sullivan city'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rio Grande City'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Welasco'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Benito'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saltillo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Puerto Peñasco'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tecate'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Asau'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Terrebone'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Spencerville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rensselaer'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Severn'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Waterloo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Porterville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pinetown'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Roma'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ravenna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Regent'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ribera'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sparta'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Turkey'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Varna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Plevna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Shiloh'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tripoli'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Poland'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Taberg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Postsdam'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pisek'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ringa'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Warsaw'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pisek'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stockholm'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Taberg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Petersburg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Talala'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Scottsville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Waterfall'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ronda'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Seville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Salamanca'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Zamora'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Valencia'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sorrento'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vichy'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Severy'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rougemont'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pray'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Turin'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Savona'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Versailles'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vincennes'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Cloud'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Westerlo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wittenberg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Potsdam'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Taberg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Weimar'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Prague'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Roe'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Verona'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Venice'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trivoli'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rome'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stuttgart'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Strasburg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rhodes'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Westelo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pisek'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Plevna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Varna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Riga'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wall'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sula'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Whitefield'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Toledo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Pablo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Pedro'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Simon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Manuel'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Winton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Peters'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'White Hills'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Walpole'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rockingham'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stoneville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Swan River'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Three Springs'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Port Arthur'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Amithton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stony Creek'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Walhalla'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Steele'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Whittington'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Portland West'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sunbery'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Peters'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Young'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sidney'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rydal'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tamworth'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pottsville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Springbrook'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Richlands'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Helens'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Theodore'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Winton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Samoa'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Volcano'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wooville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wellington'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Queenstown'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Skippers'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rockingham'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Walpole'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tama'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Helen'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Truro'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Plymouth'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Topham'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tiverton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tpsham'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tauntoun'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Somerset'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Somerton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wells'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Weymounth'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trowbridge'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Westbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Warminster'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Salisbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ringwood'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stockbridge'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Winchester'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Southampton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Yarmouth'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Portsmouth'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Seaview'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Shoreham'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Seaford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Red Hill'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Surrey'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Plymonth'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Truro'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Topsham'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tiverton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Taunton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Somerset'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Somerton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Swansea'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Usk'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stroud'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Worceste'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Warwick'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rugby'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tipton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Telford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Shrewsbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stafford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Repton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Willington'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Whitmore'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sherwood Forest'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wales'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stocport'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trafford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Standish'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Southport'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Preston'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wakefield'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Selby'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'York'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ripon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Silverdale'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Shandon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Scoltland'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Charlotte Amalie'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Potosí'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Mariposa'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rio'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Castelo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'California'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trindade e Tobago'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Phillipsburg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Frederiksted'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Charlotte Amalie'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Port Royal'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Lorenzo Tenochtitlán'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == ' San Miguel de Allende'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Cabo San Lucas'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Weslaco'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pharr'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == ' Sullivan City'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rio Grande City'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Puerto Peñasco'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pownal'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sussex'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Robbinston'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Stephen'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Presque Isle'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Smirna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stoneham et Tewkesbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sudbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Selkirk'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wadena'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Thorsby'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vernon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pemberton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vitoria'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Klondike'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'São João da Terra Nova'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Trinidade'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Potosi'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Miguel'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Lucas'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rio Grande'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sullivan'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Croix'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Thomas'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Johns'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Yukon'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Saint Helena'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trivoli'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Vienna'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Piedmont'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Petersburg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tiller'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Poplar'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Weymouth'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Penllyn'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Pembroke'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Worcester'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Reading'].index, inplace=True)


df_usa.drop(df_usa[df_usa.Cidade == 'Wallingford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stowe'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Worcester'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sutton'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Rose Hill'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Woolwich'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Westminister'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'White'].index, inplace=True)


df_usa.drop(df_usa[df_usa.Cidade == 'Three Rivers'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Saint Albans'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Woodford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ware'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Royston'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wilburton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Peterborough'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Rutland'].index, inplace=True)




df_usa.drop(df_usa[df_usa.Cidade == 'Spalding'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stockport'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Solway'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sunderland'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Peebles'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Scotland'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Welton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Ravendale'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Stockport'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Skipwith'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Scarborough'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sunderland'].index, inplace=True)


df_usa.drop(df_usa[df_usa.Cidade == 'Soulway'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Waterford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Wexford'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'West Park'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Summerhill'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Townley'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Roscommon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Sligo'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Westport'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stewartstown'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Whiterocks'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Reva'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Pedro'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Woodville'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Smithton'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Paynesville'].index, inplace=True)



df_usa.drop(df_usa[df_usa.Cidade == 'Sunbury'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Penfield'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Woodgate'].index, inplace=True)


df_usa.drop(df_usa[df_usa.Cidade == 'Saint Helena Island'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Patoka'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Renwick'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Paragon'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trivoli'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Parma'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Paron'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Pond Island'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Phillipsburg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Couva'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'California'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Trindade e Tobago'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == ' Mariposa'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Paris'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Westminster'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Trinidad'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'San Lorenzo'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Peru'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Stoneham'].index, inplace=True)

df_usa.drop(df_usa[df_usa.Cidade == 'Philipsburg'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'Tivoli'].index, inplace=True)
df_usa.drop(df_usa[df_usa.Cidade == 'White City'].index, inplace=True)

#### 10.1.5 - Validação dos Dados em Pandera

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        'ID':pa.Column(pa.String),
        'Severidade':pa.Column(pa.Int),
        'Data':pa.Column(pa.DateTime),
        'Latitude':pa.Column(pa.Float),
        'Longitude':pa.Column(pa.Float),
        'Descricao':pa.Column(pa.String),
        'Rua':pa.Column(pa.String),
        'Cidade':pa.Column(pa.String),
        'Condado':pa.Column(pa.String),
        'Estado':pa.Column(pa.String),
        'Aumento_Velocidade':pa.Column(pa.Bool),
        'Desvio':pa.Column(pa.Bool),
        'Parada':pa.Column(pa.Bool),
        'acalmamento_trafego':pa.Column(pa.Bool),
        'sinal_trafego':pa.Column(pa.Bool),
        'Rotatoria':pa.Column(pa.Bool)    
    }
)

In [ ]:
schema.validate(df_usa)

,ID,Severidade,Data,Latitude,Longitude,Descricao,Rua,Cidade,Condado,Estado,Aumento_Velocidade,Desvio,Parada,acalmamento_trafego,sinal_trafego,Rotatoria
0,A-1,3,2016-02-08 00:37:08,40.108910,-83.092860,Btwn wmill R/Exit 20 n OH-315/Olntngy Riv R/Ex...,Outerbelt E,Dublin,Franklin,OH,False,False,False,False,False,False
1,A-2,2,2016-02-08 05:56:20,39.865420,-84.062800,At OH-4/OH-235/Exit 41 - Accint.,I-70 E,Dayton,Montgomery,OH,False,False,False,False,False,False
2,A-3,2,2016-02-08 06:15:39,39.102660,-84.524680,At I-71/U-50/Exit 1 - Accint.,I-75 S,Cincinnati,Hamilton,OH,False,False,False,False,False,False
3,A-4,2,2016-02-08 06:51:45,41.062130,-81.537840,At Dt Av/Exit 21 - Accint.,I-77 N,Akron,Summit,OH,False,False,False,False,False,False
4,A-5,3,2016-02-08 07:53:43,39.172393,-84.492792,At Mitcll Av/Exit 6 - Accint.,I-75 S,Cincinnati,Hamilton,OH,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845337,A-2845338,2,2019-08-23 18:03:25,34.002480,-117.379360,At Mkt t - Accint.,Pomona Fwy E,Riverside,Riverside,CA,False,False,False,False,False,False
2845338,A-2845339,2,2019-08-23 19:11:30,32.766960,-117.148060,At Cmino Dl Rio/Mission Cnt R - Accint.,I-8 W,San Diego,San Diego,CA,False,False,False,False,False,False
2845339,A-2845340,2,2019-08-23 19:00:21,33.775450,-117.847790,At Glssll t/Gn Av - Accint. in t igt ln.,Garden Grove Fwy,Orange,Orange,CA,False,False,False,False,False,False
2845340,A-2845341,2,2019-08-23 19:00:21,33.992460,-118.403020,At CA-90/Min Fwy/Jffson Blv - Accint.,San Diego Fwy S,Culver City,Los Angeles,CA,False,False,False,False,False,False
2845341,A-2845342,2,2019-08-23 18:52:06,34.133930,-117.230920,At Higln Av/An Av - Accint.,CA-210 W,Highland,San Bernardino,CA,False,False,False,False,False,False

### 10.2 - Tratamentos do Acidente_Charlotte

#### 10.2.1 - Pré-Análise

In [ ]:
# Procurando valores nulos
df_charlotte.isna().sum()

ID           0
Data         0
Rua          0
Descricao    0
Latitude     0
Longitude    0
dtype: int64

In [ ]:
# verificando se os IDs são valores únicos (66.126 IDs)
pd.value_counts(df_charlotte['ID'])

In [ ]:
# verificando se existe alguma inconsistência na coluna Descricao
pd.unique(df_charlotte['Descricao'])

array(['ACIDENTE COM DANOS MATERIAIS NA RODOVIÁRIA',
       'ACIDENTE COM LESÕES CORPORAIS',
       'ACIDENTE E FUGA COM DANOS A RODOVIA',
       'VEÍCULO QUEBRADO NA ESTRADA',
       'CONTROLE DE TRÁFEGO/MAU FUNCIONAMENTO',
       'CONDUÇÃO negligente/imprudente', 'BLOQUEIO DE ESTRADA',
       'ATROPELAMENTO COM LESÕES CORPORAIS', 'ACIDENTE-FATALIDADE',
       'ATROPELAMENTO COM FUGA'], dtype=object)

In [ ]:
# transformando a coluna Data para DateType

#Removendo a letra T da coluna:
df_charlotte['Data'] = df_charlotte['Data'].str.replace('T', '-')
df_charlotte['Data'] = pd.to_datetime(df_charlotte['Data'], format='%Y-%m-%d-%H:%M:%S')

#### 10.2.2 - Validação dos Dados em Pandera

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        'ID':pa.Column(pa.String),
        'Data':pa.Column(pa.DateTime),
        'Rua':pa.Column(pa.String),
        'Descricao':pa.Column(pa.String),
        'Latitude':pa.Column(pa.Float),
        'Longitude':pa.Column(pa.Float)
    }
)

In [ ]:
schema.validate(df_charlotte)

,ID,Data,Rua,Descricao,Latitude,Longitude
0,S1118164001,2018-11-18 16:40:57,N SHARON AMITY RD & WATER OAK RD,ACIDENTE COM DANOS MATERIAIS NA RODOVIÁRIA,35.179036,-80.790136
1,S1118161700,2018-11-18 16:17:09,FREEDOM DR & ASHLEY RD,ACIDENTE COM LESÕES CORPORAIS,35.245511,-80.893231
2,S1118161400,2018-11-18 16:14:31,N WENDOVER RD & E INDEPENDENCE BV,ACIDENTE COM LESÕES CORPORAIS,35.201733,-80.784190
3,S1118155800,2018-11-18 15:58:19,PROVIDENCE RD & QUEENS RD,ACIDENTE E FUGA COM DANOS A RODOVIA,35.195921,-80.827217
4,S1118154902,2018-11-18 15:49:39,IKEA BV & UNIVERSITY CITY BV,ACIDENTE COM LESÕES CORPORAIS,35.290073,-80.763379
...,...,...,...,...,...,...
66121,T1029115100,2019-10-29 11:51:17,W ARROWOOD RD & S TRYON ST,CONTROLE DE TRÁFEGO/MAU FUNCIONAMENTO,35.147034,-80.926163
66122,T1029114900,2019-10-29 11:49:13,E W T HARRIS BV & E MCCULLOUGH DR,BLOQUEIO DE ESTRADA,35.303380,-80.747650
66123,T1029115600,2019-10-29 11:56:13,CARPET ST & WESTINGHOUSE BV,ACIDENTE E FUGA COM DANOS A RODOVIA,35.112270,-80.918339
66124,T1029115501,2019-10-29 11:56:01,CLANTON RD & S TRYON ST,ACIDENTE COM DANOS MATERIAIS NA RODOVIÁRIA,35.195859,-80.877216
66125,T1029120002,2019-10-29 12:00:33,2000. WILKINSON BV,VEÍCULO QUEBRADO NA ESTRADA,35.223234,-80.872190

## 10.3 - Unindo os datasets (Acidentes_USA e Acidentes_Charlotte)

### 10.3.1 - MERGE

In [ ]:
df = pd.merge(df_usa, df_charlotte, how="outer", on=["ID", "Data", "Descricao", "Rua", "Latitude", "Longitude"])

In [ ]:
df.shape

(2859308, 16)

### 10.3.1 - Tratamento Inicial nos valores nulos devido ao merge (Para serem normalizados posteriormente através do PySpark)

In [ ]:
df = df.replace(np.nan, 'dado ausente devido ao merge')

### 10.3.2 - Validação dos Dados em Pandera

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        'ID':pa.Column(pa.String),
        'Severidade':pa.Column(pa.String),
        'Data':pa.Column(pa.DateTime),
        'Latitude':pa.Column(pa.Float),
        'Longitude':pa.Column(pa.Float),
        'Descricao':pa.Column(pa.String),
        'Rua':pa.Column(pa.String),
        'Cidade':pa.Column(pa.String),
        'Condado':pa.Column(pa.String),
        'Estado':pa.Column(pa.String),
        'Aumento_Velocidade':pa.Column(pa.String),
        'Desvio':pa.Column(pa.String),
        'Parada':pa.Column(pa.String),
        'acalmamento_trafego':pa.Column(pa.String),
        'sinal_trafego':pa.Column(pa.String),
        'Rotatoria':pa.Column(pa.String)    
    }
)

In [ ]:
schema.validate(df)

,ID,Severidade,Data,Latitude,Longitude,Descricao,Rua,Cidade,Condado,Estado,Aumento_Velocidade,Desvio,Parada,acalmamento_trafego,sinal_trafego,Rotatoria
0,A-1,3.0,2016-02-08 00:37:08,40.108910,-83.092860,Btwn wmill R/Exit 20 n OH-315/Olntngy Riv R/Ex...,Outerbelt E,Dublin,Franklin,OH,False,False,False,False,False,False
1,A-2,2.0,2016-02-08 05:56:20,39.865420,-84.062800,At OH-4/OH-235/Exit 41 - Accint.,I-70 E,Dayton,Montgomery,OH,False,False,False,False,False,False
2,A-3,2.0,2016-02-08 06:15:39,39.102660,-84.524680,At I-71/U-50/Exit 1 - Accint.,I-75 S,Cincinnati,Hamilton,OH,False,False,False,False,False,False
3,A-4,2.0,2016-02-08 06:51:45,41.062130,-81.537840,At Dt Av/Exit 21 - Accint.,I-77 N,Akron,Summit,OH,False,False,False,False,False,False
4,A-5,3.0,2016-02-08 07:53:43,39.172393,-84.492792,At Mitcll Av/Exit 6 - Accint.,I-75 S,Cincinnati,Hamilton,OH,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2859303,T1029115100,dado ausente devido ao merge,2019-10-29 11:51:17,35.147034,-80.926163,CONTROLE DE TRÁFEGO/MAU FUNCIONAMENTO,W ARROWOOD RD & S TRYON ST,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge
2859304,T1029114900,dado ausente devido ao merge,2019-10-29 11:49:13,35.303380,-80.747650,BLOQUEIO DE ESTRADA,E W T HARRIS BV & E MCCULLOUGH DR,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge
2859305,T1029115600,dado ausente devido ao merge,2019-10-29 11:56:13,35.112270,-80.918339,ACIDENTE E FUGA COM DANOS A RODOVIA,CARPET ST & WESTINGHOUSE BV,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge
2859306,T1029115501,dado ausente devido ao merge,2019-10-29 11:56:01,35.195859,-80.877216,ACIDENTE COM DANOS MATERIAIS NA RODOVIÁRIA,CLANTON RD & S TRYON ST,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge
2859307,T1029120002,dado ausente devido ao merge,2019-10-29 12:00:33,35.223234,-80.872190,VEÍCULO QUEBRADO NA ESTRADA,2000. WILKINSON BV,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge,dado ausente devido ao merge

## 10.4 - Salvando no bucket para dar início a segunda etapa de normalização (PySpark)

In [ ]:
df.to_csv('gs://brunotestesoulcode/ProjetoFinal/Tratados/acidentes_parcialmentetratado.csv', index=False)

## 11 - Operações com PySpark

### 11.1 - Tratamentos e Normalizações

#### 11.1.1 - Montagem do DataFrame utilizando StructType

In [ ]:
# Criando a Spark Session e ler o arquivo via PySpark
spark = (
    SparkSession.builder
                .master('local')
                .appName('acidentes')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [ ]:
# Verificando se o Spark está OK
spark

In [ ]:
esquema = (
    StructType([
                StructField('ID', StringType(), False),
                StructField('Severidade', StringType(), True),
                StructField('Data', TimestampType(), True),
                StructField('Latitude', FloatType(), True),
                StructField('Longitude', FloatType(), True),
                StructField('Descricao', StringType(), True),                
                StructField('Rua', StringType(), True),
                StructField('Cidade', StringType(), True),
                StructField('Condado', StringType(), True),
                StructField('Estado', StringType(), True),
                StructField('Aumento_Velocidade', StringType(), True),
                StructField('Desvio', StringType(), True),
                StructField('Parada', StringType(), True),
                StructField('acalmamento_trafego', StringType(), True),
                StructField('sinal_trafego', StringType(), True),
                StructField('Rotatoria', StringType(), True)
  ])
)

In [ ]:
#Criar um DataFrame pelo Pyspark
df_spark = (
    spark.read.format('csv')
                .option('header', 'true')
                .option('delimiter', ',')
                .option('interschema', 'false')
                .load('gs://brunotestesoulcode/ProjetoFinal/Tratados/acidentes_parcialmentetratado.csv', schema=esquema)
          )

In [ ]:
#Conferindo o Schema
df_spark.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Severidade: string (nullable = true)
 |-- Data: timestamp (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- Descricao: string (nullable = true)
 |-- Rua: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Condado: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Aumento_Velocidade: string (nullable = true)
 |-- Desvio: string (nullable = true)
 |-- Parada: string (nullable = true)
 |-- acalmamento_trafego: string (nullable = true)
 |-- sinal_trafego: string (nullable = true)
 |-- Rotatoria: string (nullable = true)

In [ ]:
df_spark.show()

+----+----------+-------------------+---------+---------+--------------------+--------------+------------+----------+------+------------------+------+------+-------------------+-------------+---------+
|  ID|Severidade|               Data| Latitude|Longitude|           Descricao|           Rua|      Cidade|   Condado|Estado|Aumento_Velocidade|Desvio|Parada|acalmamento_trafego|sinal_trafego|Rotatoria|
+----+----------+-------------------+---------+---------+--------------------+--------------+------------+----------+------+------------------+------+------+-------------------+-------------+---------+
| A-1|       3.0|2016-02-08 00:37:08| 40.10891|-83.09286|Btwn wmill R/Exit...|   Outerbelt E|      Dublin|  Franklin|    OH|             False| False| False|              False|        False|    False|
| A-2|       2.0|2016-02-08 05:56:20| 39.86542| -84.0628|At OH-4/OH-235/Ex...|        I-70 E|      Dayton|Montgomery|    OH|             False| False| False|              False|        False|    False|
| A-3|       2.0|2016-02-08 06:15:39| 39.10266|-84.52468|At I-71/U-50/Exit...|        I-75 S|  Cincinnati|  Hamilton|    OH|             False| False| False|              False|        False|    False|
| A-4|       2.0|2016-02-08 06:51:45| 41.06213|-81.53784|At Dt Av/Exit 21 ...|        I-77 N|       Akron|    Summit|    OH|             False| False| False|              False|        False|    False|
| A-5|       3.0|2016-02-08 07:53:43|39.172394|-84.49279|At Mitcll Av/Exit...|        I-75 S|  Cincinnati|  Hamilton|    OH|             False| False| False|              False|        False|    False|
| A-6|       2.0|2016-02-08 08:16:57| 39.06324|-84.03243|At Dl Plm R - Acc...|State Route 32|Williamsburg|  Clermont|    OH|             False| False| False|              False|         True|    False|
| A-7|       2.0|2016-02-08 08:15:41| 39.77565|-84.18603|At OH-4/Exit 54 -...|        I-75 S|      Dayton|Montgomery|    OH|             False| False| False|              False|        False|    False|
| A-8|       2.0|2016-02-08 11:51:46| 41.37531|-81.82017|At Bgly R/Exit 23...|        I-71 S|   Cleveland|  Cuyahoga|    OH|             False| False| False|              False|        False|    False|
| A-9|       2.0|2016-02-08 14:19:57|40.702248|-84.07589|At OH-65/Exit 122...| E Hanthorn Rd|        Lima|     Allen|    OH|             False| False| False|              False|        False|    False|
|A-10|       2.0|2016-02-08 15:16:43| 40.10931|-82.96849|At I-71/Exit 26 -...|   Outerbelt W| Westerville|  Franklin|    OH|             False| False| False|              False|        False|    False|
|A-11|       2.0|2016-02-08 15:43:50| 39.19288|-84.47723|At OH-4/Pock R/Ex...|        I-75 N|  Cincinnati|  Hamilton|    OH|             False| False| False|              False|        False|    False|
|A-12|       2.0|2016-02-08 16:50:57| 39.13877|-84.53394|At U-52/Hoppl t/E...|     Hopple St|  Cincinnati|  Hamilton|    OH|             False| False| False|              False|         True|    False|
|A-13|       2.0|2016-02-08 17:27:39|  41.4739|-81.70423|At U-42/Exit 170 ...|        I-90 E|   Cleveland|  Cuyahoga|    OH|             False| False| False|              False|        False|    False|
|A-14|       2.0|2016-02-08 17:30:18| 39.58224|-83.67781|Btwn OH-72/Exit 5...|        I-71 N|   Jamestown|    Greene|    OH|             False| False| False|              False|        False|    False|
|A-15|       3.0|2016-02-08 18:11:11|40.151787|-81.31264| At iply R - Accint.|      Titus Rd|    Freeport|  Guernsey|    OH|             False| False| False|              False|        False|    False|
|A-16|       3.0|2016-02-08 18:11:11| 40.15175|-81.31268|At Titus R - Accint.|      Cadiz Rd|    Freeport|  Harrison|    OH|             False| False| False|              False|        False|    False|
|A-17|       3.0|2016-02-08 19:47:42| 39.97241|-82.84695|At OH-16/Bo t/Exi...|   Outerbelt N|    Columbus|  Franklin|    OH|             False| False| False|              False|        False|    False|
|A-18|       2.0|2016-02-08 19:47:42|  39.9838|-82.85657|  At I-270 - Accint.|   Outerbelt S|    Columbus|  Franklin|    OH|             False| False| False|              False|        False|    False|
|A-19|       3.0|2016-02-08 20:13:22| 40.02664| -82.9944|Btwn Wb R/Exit 11...|   North Fwy S|    Columbus|  Franklin|    OH|             False| False| False|              False|        False|    False|
|A-21|       2.0|2016-02-08 21:10:10| 40.99613|-85.26613|At Fot Wyn - Accint.|       US-33 S|     Roanoke|     Allen|    IN|             False| False| False|              False|        False|    False|
+----+----------+-------------------+---------+---------+--------------------+--------------+------------+----------+------+------------------+------+------+-------------------+-------------+---------+
only showing top 20 rows

#### 11.1.2 - Normalização das colunas

In [ ]:
#Criar 3 colunas uma com o DIA outra com o MÊS e outra com o ANO - substring
df_spark = df_spark.withColumn("Dia", F.substring(F.col('Data'),9, 2)).withColumn("Mes", F.substring(F.col('Data'), 6, 2)).withColumn("Ano", F.substring(F.col('Data'), 1, 4))

In [ ]:
# Corrigindo coluna Cidade devido ao merge dos DataFrame (São dados sobre a cidade de Charlotte)
df_spark = df_spark.withColumn('Cidade', regexp_replace('Cidade', 'dado ausente devido ao merge', 'Charlotte'))

In [ ]:
# Corrigindo coluna Condado devido ao merge dos DataFrame (São dados sobre o Condado de Charlotte)
df_spark = df_spark.withColumn('Condado', regexp_replace('Condado', 'dado ausente devido ao merge', 'Mecklenburg'))

In [ ]:
# Corrigindo coluna Estado devido ao merge dos DataFrame (São dados sobre do Estado de Charlotte)
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'dado ausente devido ao merge', 'NC'))

In [ ]:
# Corrigindo coluna Aumento_Velocidade devido ao merge dos DataFrame
df_spark = df_spark.withColumn('Aumento_Velocidade', regexp_replace('Aumento_Velocidade', 'False', 'Não Houve'))
df_spark = df_spark.withColumn('Aumento_Velocidade', regexp_replace('Aumento_Velocidade', 'True', 'Houve'))
df_spark = df_spark.withColumn('Aumento_Velocidade', regexp_replace('Aumento_Velocidade', 'dado ausente devido ao merge', 'Dado Ausente'))

In [ ]:
# Corrigindo coluna Desvio devido ao merge dos DataFrame
df_spark = df_spark.withColumn('Desvio', regexp_replace('Desvio', 'False', 'Não Existe'))
df_spark = df_spark.withColumn('Desvio', regexp_replace('Desvio', 'True', 'Existe'))
df_spark = df_spark.withColumn('Desvio', regexp_replace('Desvio', 'dado ausente devido ao merge', 'Dado Ausente'))

In [ ]:
# Corrigindo coluna Parada devido ao merge dos DataFrame
df_spark = df_spark.withColumn('Parada', regexp_replace('Parada', 'False', 'Não Existe placa PARE'))
df_spark = df_spark.withColumn('Parada', regexp_replace('Parada', 'True', 'Existe placa PARE'))
df_spark = df_spark.withColumn('Parada', regexp_replace('Parada', 'dado ausente devido ao merge', 'Dado Ausente'))

In [ ]:
# Corrigindo coluna acalmamento_trafego devido ao merge dos DataFrame
df_spark = df_spark.withColumn('acalmamento_trafego', regexp_replace('acalmamento_trafego', 'False', 'Não Existe Acalmamento'))
df_spark = df_spark.withColumn('acalmamento_trafego', regexp_replace('acalmamento_trafego', 'True', 'Existe Acalmamento'))
df_spark = df_spark.withColumn('acalmamento_trafego', regexp_replace('acalmamento_trafego', 'dado ausente devido ao merge', 'Dado Ausente'))

In [ ]:
# Corrigindo coluna sinal_trafego devido ao merge dos DataFrame
df_spark = df_spark.withColumn('sinal_trafego', regexp_replace('sinal_trafego', 'False', 'Não Existe Semáforo'))
df_spark = df_spark.withColumn('sinal_trafego', regexp_replace('sinal_trafego', 'True', 'Existe Semáforo'))
df_spark = df_spark.withColumn('sinal_trafego', regexp_replace('sinal_trafego', 'dado ausente devido ao merge', 'Dado Ausente'))

In [ ]:
# Corrigindo coluna Rotatoria devido ao merge dos DataFrame
df_spark = df_spark.withColumn('Rotatoria', regexp_replace('Rotatoria', 'False', 'Não Existe Rotatoria'))
df_spark = df_spark.withColumn('Rotatoria', regexp_replace('Rotatoria', 'True', 'Existe Rotatoria'))
df_spark = df_spark.withColumn('Rotatoria', regexp_replace('Rotatoria', 'dado ausente devido ao merge', 'Dado Ausente'))

##### 11.1.2.1 - Normalizando a coluna Estado

In [ ]:
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'OH', 'Ohio'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'IN', 'Indiana'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'KY', 'Kentucky'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'WV', 'Virgínia Ocidental'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MI', 'Míchigan'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'PA', 'Pensilvânia'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'CA', 'California'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NV', 'Nevada'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MN', 'Minesota'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'TX', 'Texas'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MO', 'Missúri'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'CO', 'Colorado'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'OK', 'Oclaoma'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'LA', 'Luisiana'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'KS', 'Cansas'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'WI', 'Wisconsin'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'IA', 'Iowa'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MS', 'Mississípi'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NE', 'Nebrasca'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'ND', 'Dakota do Norte'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'WY', 'Wyoming'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'SD', 'Dakota do Sul'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MT', 'Montana'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NM', 'Novo México'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'AR', 'Arcansas'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'IL', 'Ilinóis'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NJ', 'Nova Jérsei'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'GA', 'Geórgia'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'FL', 'Flórida'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NY', 'Nova Iorque'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'CT', 'Conecticute'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'RI', 'Ilha de Rodes'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'SC', 'Carolina do Sul'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NC', 'Carolina do Norte'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MD', 'Marilândia'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'MA', 'Massachusetts'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'TN', 'Tenessi'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'VA', 'Virgínia'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'DE', 'Delaware'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'DC', 'Distrito de Colúmbia'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'ME', 'Maine'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'AL', 'Alabama'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'NH', 'Nova Hampshire'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'VT', 'Vermonte'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'AZ', 'Arizona'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'UT', 'Utá'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'ID', 'Idaho'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'OR', 'Óregon'))
df_spark = df_spark.withColumn('Estado', regexp_replace('Estado', 'WA', 'Washington'))

##### 11.1.2.2 - Normalizando a coluna Descricao

In [ ]:
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', 'Between', 'Entre'))
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', 'Closed at', 'Fechado na'))
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', 'At', 'Na'))
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', 'and', 'e'))
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', 'Road closed due to accident', 'Rua fechada devido ao acidente'))
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', '- Accident', '- Acidente'))
df_spark = df_spark.withColumn('Descricao', regexp_replace('Descricao', 'Exit', 'Saída'))

### 11.2 - Salvando o DataFrame tratado no Bucket

In [ ]:
df_spark.show(2)

+---+----------+-------------------+--------+---------+--------------------+-----------+------+----------+------+------------------+----------+--------------------+--------------------+-------------------+--------------------+---+---+----+
| ID|Severidade|               Data|Latitude|Longitude|           Descricao|        Rua|Cidade|   Condado|Estado|Aumento_Velocidade|    Desvio|              Parada| acalmamento_trafego|      sinal_trafego|           Rotatoria|Dia|Mes| Ano|
+---+----------+-------------------+--------+---------+--------------------+-----------+------+----------+------+------------------+----------+--------------------+--------------------+-------------------+--------------------+---+---+----+
|A-1|       3.0|2016-02-08 00:37:08|40.10891|-83.09286|Btwn wmill R/Saíd...|Outerbelt E|Dublin|  Franklin|  Ohio|         Não Houve|Não Existe|Não Existe placa ...|Não Existe Acalma...|Não Existe Semáforo|Não Existe Rotatoria| 08| 02|2016|
|A-2|       2.0|2016-02-08 05:56:20|39.86542| -84.0628|Na OH-4/OH-235/Sa...|     I-70 E|Dayton|Montgomery|  Ohio|         Não Houve|Não Existe|Não Existe placa ...|Não Existe Acalma...|Não Existe Semáforo|Não Existe Rotatoria| 08| 02|2016|
+---+----------+-------------------+--------+---------+--------------------+-----------+------+----------+------+------------------+----------+--------------------+--------------------+-------------------+--------------------+---+---+----+
only showing top 2 rows

Salvando em CSV:

In [ ]:
df_spark.repartition(1).write.format("csv").option("header", True).option("inferschema", True).option("delimiter", ",").option("encoding", "utf-8").save('gs://brunotestesoulcode/ProjetoFinal/Tratados/acidentes_final.csv', mode='overwrite', index=False)

Salvando em PARQUET

In [ ]:
df_spark.repartition(1).write.format("parquet").option("header", True).option("inferschema", True).option("delimiter", ",").option("encoding", "utf-8").save('gs://brunotestesoulcode/ProjetoFinal/Tratados/acidentes_final', mode='overwrite', index=False)

# LOAD (Carregamento)

## 12 - Armazenamento dos Datasets Tratados

### 12.1 - Armazenamento em coleção MongoDB Atlas

Como o MondoDB Atlas versão gratuita existe um limite, optamos por dividir o arquivo para enviar coleções (uma para cada integrante da equipe)

#### 12.1.1 - Divindo o DataFrame em 4 partes

In [ ]:
df_acidentes_usa_mongo = pd.read_parquet('https://storage.googleapis.com/brunotestesoulcode/ProjetoFinal/Tratados/acidentes_final.parquet/part-00000-3a2d43c4-5c4a-43ea-bfac-af18c3b7fb24-c000.snappy.parquet')

In [ ]:
df_pt1 = df_acidentes_usa_mongo.loc[0:700000]

In [ ]:
df_pt2 = df_acidentes_usa_mongo.loc[700000:1400000]

In [ ]:
df_pt3 = df_acidentes_usa_mongo.loc[1400000:2100000]

In [ ]:
df_pt4 = df_acidentes_usa_mongo.loc[2100000:]

#### 12.1.2 - Se conectando com o MongoDB

In [ ]:
# uri (uniform resource identifier) definindo parametros de conexão 
uri_ana = 'mongodb+srv://equipe3mongodb:equipe3mongodb@atividade17.ml5p5.mongodb.net/?retryWrites=true&w=majority'
# iniciando a conexão com o servidor MongoDB 
client_ana = MongoClient( uri_ana )

In [ ]:
# uri (uniform resource identifier) definindo parametros de conexão 
uri_andrea = 'mongodb+srv://equipe3mongodb:equipe3mongodb@equipe3.tnj3d.mongodb.net/?retryWrites=true&w=majority'
# iniciando a conexão com o servidor MongoDB 
client_andrea = MongoClient( uri_andrea )

In [ ]:
# uri (uniform resource identifier) definindo parametros de conexão 
uri_bruno = 'mongodb+srv://equipe3mongodb:equipe3mongodb@cluster0.3jmog.mongodb.net/?retryWrites=true&w=majority'
# iniciando a conexão com o servidor MongoDB 
client_bruno = MongoClient( uri_bruno )

In [ ]:
# uri (uniform resource identifier) definindo parametros de conexão 
uri_carlos = 'mongodb+srv://equipe3mongodb:equipe3mongodb@cluster0.apydq3v.mongodb.net/?retryWrites=true&w=majority'
# iniciando a conexão com o servidor MongoDB 
client_carlos = MongoClient( uri_carlos )

#### 12.1.3 - Checando Status da conexão

In [ ]:
client_ana.stats

Database(MongoClient(host=['atividade17-shard-00-02.ml5p5.mongodb.net:27017', 'atividade17-shard-00-00.ml5p5.mongodb.net:27017', 'atividade17-shard-00-01.ml5p5.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ftcp5c-shard-0', tls=True), 'stats')

In [ ]:
client_andrea.stats

Database(MongoClient(host=['equipe3-shard-00-01.tnj3d.mongodb.net:27017', 'equipe3-shard-00-00.tnj3d.mongodb.net:27017', 'equipe3-shard-00-02.tnj3d.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-l9p3og-shard-0', tls=True), 'stats')

In [ ]:
client_bruno.stats

Database(MongoClient(host=['cluster0-shard-00-01.3jmog.mongodb.net:27017', 'cluster0-shard-00-02.3jmog.mongodb.net:27017', 'cluster0-shard-00-00.3jmog.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i8zzun-shard-0', tls=True), 'stats')

In [ ]:
client_carlos.stats

Database(MongoClient(host=['ac-kixtgbd-shard-00-01.apydq3v.mongodb.net:27017', 'ac-kixtgbd-shard-00-02.apydq3v.mongodb.net:27017', 'ac-kixtgbd-shard-00-00.apydq3v.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zjbowi-shard-0', tls=True), 'stats')

#### 12.1.4 - Inserindo na Coleção

Inserindo a primeira parte (Banco de Dados da integrante: Ana Paula)

In [ ]:
# Criando a data base
db = client_ana["proj-final"]

#Criando a coleção
collection = db["acidentes-usa-parte1"]

# transformando em dicionario
dict_ana = df_pt1.to_dict(orient = 'records')

#inserindo na coleção
collection.insert_many(dict_ana)

Inserindo a segunda parte (Banco de Dados da integrante: Andrea)

In [ ]:
# Criando a data base
db = client_andrea["proj-final"]

#Criando a coleção
collection = db["acidentes-usa-parte2"]

# transformando em dicionario
dict_andrea = df_pt2.to_dict(orient = 'records')

#inserindo na coleção
collection.insert_many(dict_andrea)

Inserindo a terceira parte (Banco de Dados do integrante: Bruno Yaporandy)

In [ ]:
# Criando a data base
db = client_bruno["proj-final"]

#Criando a coleção
collection = db["acidentes-usa-parte3"]

# transformando em dicionario
dict_bruno = df_pt3.to_dict(orient = 'records')

#inserindo na coleção
collection.insert_many(dict_bruno)

Inserindo a quarta parte (Banco de Dados do integrante: Carlos)

In [ ]:
# Criando a data base
db = client_carlos["proj-final"]

#Criando a coleção
collection = db["acidentes-usa-parte4"]

# transformando em dicionario
dict_carlos = df_pt4.to_dict(orient = 'records')

#inserindo na coleção
collection.insert_many(dict_carlos)

## 13 - Pipeline do Dataframe normalizado

### 13.1 Pipeline filtrando estado da Carolina do Norte

In [ ]:
pipeline_options = {
    'project': 'brunoy',
    'runner': 'DataflowRunner',
    'region': 'southamerica-east1', 
    'staging_location':'gs://brunotestesoulcode/ProjetoFinal/Tratados/Pipeline/staging', 
    'temp_location':'gs://brunotestesoulcode/ProjetoFinal/Tratados/Pipeline/staging', 
    'template_location':'gs://brunotestesoulcode/ProjetoFinal/Tratados/Pipeline/models/Acidentes_USA'
}

pipeline_options = PipelineOptions.from_dictionary(pipeline_options)

p1 = beam.Pipeline(options=pipeline_options)

acidentes_usa = (
    p1
    |'Leitura do dataset'>> beam.io.ReadFromText('gs://brunotestesoulcode/ProjetoFinal/Tratados/acidentes_final.csv/part-00000-50826473-73c8-4787-b9e4-b4efc052d949-c000.csv', skip_header_lines=1)
    |'Indicando o separador do arquivo'>> beam.Map(lambda record: record.split(','))
    |'Filtragem de colunas: Carolina do Norte'>> beam.Filter(lambda record: record[9] == 'Carolina do Norte')
    |'Salvar resultado'>> beam.io.WriteToText('gs://brunotestesoulcode/ProjetoFinal/Tratados/Pipeline/Acidentes_USA', file_name_suffix='.csv')
)
p1.run()

WARNING:root:Make sure that locally built Python SDK docker image has Python 3.7 interpreter.

# INSIGHTS

## 14 - Análises Gerais com SparkSQL

### 14.1 - Criar tabela em tempo de execução para realização de consulta

In [ ]:
df_spark.createOrReplaceTempView("acidentes")

### 14.2 - Quantos acidentes aconteceram nos EUA devido ao aumento de velocidade?

In [ ]:
spark.sql('SELECT Aumento_Velocidade as acidentes_com_AUMENTO_DE_VELOCIDADE, COUNT(*) as Quantidade FROM acidentes \
            GROUP BY Aumento_Velocidade \
            ORDER BY Quantidade desc').show()

+-----------------------------------+----------+
|acidentes_com_AUMENTO_DE_VELOCIDADE|Quantidade|
+-----------------------------------+----------+
|                          Não Houve|   2807895|
|                       Dado Ausente|     66126|
|                              Houve|      1016|
+-----------------------------------+----------+

### 14.3 - Quantos acidentes aconteceram nos EUA devido a presença de desvio/retorno?

In [ ]:
spark.sql('SELECT Desvio, COUNT(*) as Quantidade FROM acidentes \
            GROUP BY Desvio \
            ORDER BY Quantidade desc').show()

+------------+----------+
|      Desvio|Quantidade|
+------------+----------+
|  Não Existe|   2808789|
|Dado Ausente|     66126|
|      Existe|       122|
+------------+----------+

### 14.4 - Quantos acidentes aconteceram com a presença da placa "Pare"?

In [ ]:
spark.sql('SELECT Parada as acidentes_com_placa_PARE, COUNT(*) as Quantidade FROM acidentes \
            GROUP BY Parada \
            ORDER BY Quantidade desc').show()

+------------------------+----------+
|acidentes_com_placa_PARE|Quantidade|
+------------------------+----------+
|    Não Existe placa ...|   2759269|
|            Dado Ausente|     66126|
|       Existe placa PARE|     49642|
+------------------------+----------+

### 14.5 - Quantos acidentes aconteceram nos EUA com as medidas de acalmamento de tráfego?

In [ ]:
spark.sql('SELECT acalmamento_trafego, COUNT(*) as Quantidade FROM acidentes \
            GROUP BY acalmamento_trafego \
            ORDER BY Quantidade desc').show()

+--------------------+----------+
| acalmamento_trafego|Quantidade|
+--------------------+----------+
|Não Existe Acalma...|   2807235|
|        Dado Ausente|     66126|
|  Existe Acalmamento|      1676|
+--------------------+----------+

### 14.6 - Quantos acidentes aconteceram nos EUA com a presença de um semáforo?

In [ ]:
spark.sql('SELECT sinal_trafego as acidentes_com_SEMAFORO, COUNT(*) as Quantidade FROM acidentes \
            GROUP BY sinal_trafego \
            ORDER BY Quantidade desc').show()

+----------------------+----------+
|acidentes_com_SEMAFORO|Quantidade|
+----------------------+----------+
|   Não Existe Semáforo|   2546964|
|       Existe Semáforo|    261947|
|          Dado Ausente|     66126|
+----------------------+----------+

### 14.7 - Quantos acidentes aconteceram nos EUA em uma rotatória?

In [ ]:
spark.sql('SELECT Rotatoria as acidentes_em_ROTATORIA, COUNT(*) as Quantidade FROM acidentes \
            GROUP BY Rotatoria \
            ORDER BY Quantidade desc').show()

+----------------------+----------+
|acidentes_em_ROTATORIA|Quantidade|
+----------------------+----------+
|  Não Existe Rotatoria|   2845342|
|          Dado Ausente|     66126|
+----------------------+----------+

## 15 - Análises com Big Query

### 15.1 - Conexão com Big Query

In [ ]:
project_id = '[brunoy]'

In [ ]:
client = bigquery.Client(project=project_id)

In [ ]:
%%bigquery --project brunoy
SELECT 
  COUNT(*) as total_rows
FROM `projfinal.acidentes`

   total_rows
0     2875037

### 15.2 - Quais os estados nos EUA que houveram mais acidentes?

In [ ]:
%%bigquery --project brunoy estados_acidentes
SELECT
  Estado,
  COUNT(*) as Quantidade
FROM 
  `projfinal.acidentes`
GROUP BY
  Estado
ORDER BY
  Quantidade DESC

In [ ]:
estados_acidentes.head(5)

              Estado  Quantidade
0         California      789192
1            Flórida      392977
2  Carolina do Norte      156999
3              Texas      148827
4             Óregon      125659

### 15.3 - Quantos acidentes houveram no estado da Carolina do Norte?

In [ ]:
%%bigquery --project brunoy
SELECT
  Estado,
  COUNT(*) as Quantidade
FROM 
  `projfinal.acidentes`
WHERE
  Estado = 'Carolina do Norte'
GROUP BY
  Estado

              Estado  Quantidade
0  Carolina do Norte      157488

### 15.4 - Quantos acidentes houveram nos últimos anos em Charlotte?

In [ ]:
%%bigquery --project brunoy
SELECT
  Ano,
  COUNT(*) as Quantidade
FROM 
  `projfinal.acidentes`
WHERE
  Cidade = 'Charlotte'
GROUP BY
  Ano
ORDER BY
  Quantidade DESC

    Ano  Quantidade
0  2019       56921
1  2021       15685
2  2018       11081
3  2020        8281
4  2017        4649
5  2016        2661

### 15.5 - Quais os meses que mais ocorreram acidentes em Charlotte?

In [ ]:
%%bigquery --project brunoy meses_acidente
SELECT
  Mes,
  COUNT(*) as Quantidade
FROM
  `projfinal.acidentes`
WHERE
  Cidade = 'Charlotte'
GROUP BY
  Mes
ORDER BY
  Quantidade DESC

In [ ]:
meses_acidente.head(5)

  Mes  Quantidade
0  12       12916
1  06       10075
2  05        9872
3  10        9252
4  08        9127

### 15.6 - Quantos acidentes houveram em Charlotte na presença de uma placa "Pare"?

In [ ]:
%%bigquery --project brunoy
SELECT
  Parada,
  COUNT(*) as Quantidade
FROM 
  `projfinal.acidentes`
WHERE
  Cidade = 'Charlotte'
GROUP BY
  Parada

              Parada  Quantidade
0  Não Existe Parada       32956
1      Existe Parada         196
2       Dado Ausente       66126

### 15.7 - Quantos acidentes houveram em Charlotte na presença de um semáforo?

In [ ]:
%%bigquery --project brunoy
SELECT
  sinal_trafego,
  COUNT(*) as Quantidade
FROM 
  `projfinal.acidentes`
WHERE
  Cidade = 'Charlotte'
GROUP BY
  sinal_trafego

                 sinal_trafego  Quantidade
0  Não Existe Sinal de Trafego       24277
1      Existe Sinal de Trafego        8875
2                 Dado Ausente       66126